<svg class="illu icon" viewBox="0 0 120 120">
  <rect class="i-orange" x="8" y="30" width="50" height="54" rx="10" />
  <rect class="i-paper" x="14" y="24" width="38" height="42" rx="8" />
  <text class="illu-text illu-text--large" x="33" y="54" text-anchor="middle">F</text>
  <path class="sn-f" d="M26 60h14" />
  <g class="icon-key-2">
    <rect class="i-orange" x="62" y="30" width="50" height="54" rx="10" />
    <rect class="i-paper" x="68" y="24" width="38" height="42" rx="8" />
    <text class="illu-text illu-text--large" x="87" y="54" text-anchor="middle">J</text>
    <path class="sn-f" d="M80 60h14" />
  </g>
  <path class="i-yellow" d="M60 88l4 9 10 1-7 7 2 10-9-5-9 5 2-10-7-7 10-1z" />
</svg>
