<svg class="illu illu-pen" viewBox="0 0 400 300" role="img" aria-label="Una penna d'oca che scrive su una pergamena, accanto a una tavoletta d'argilla e un calamaio">
  <circle class="i-background sn" cx="210" cy="150" r="130" />
  <g class="clay-tablet">
    <rect class="i-orange" x="22" y="120" width="92" height="120" rx="12" transform="rotate(-8 68 180)" />
    <g class="marks" transform="rotate(-8 68 180)">
      <path d="M38 142l10 6-10 6M58 142l10 6-10 6M80 142l12 0M40 170h14M62 166l8 8 8-8M88 166v14M40 196l10 6-10 6M64 198h20M44 222h40" />
    </g>
  </g>
  <g class="parchment">
    <rect class="i-paper" x="136" y="52" width="176" height="196" rx="4" />
    <rect class="i-cream" x="126" y="36" width="196" height="24" rx="12" />
    <rect class="i-cream" x="126" y="238" width="196" height="24" rx="12" />
    <path class="writing s1" d="M156 86c10-10 16 8 26 0s14-10 22 0 16 6 24-2 14 4 22 0 12-6 20 2" />
    <path class="writing s2" d="M156 116c8-8 14 6 22 0s16-8 24 0 12 8 22-2 16 4 26 0" />
    <path class="writing s3" d="M156 146c10-8 14 8 24 0s14-6 22 2 14-8 22 0 10 4 18-2" />
    <path class="writing s4" d="M156 176c8-6 16 8 26 0s14-8 22 0 14 6 20-2" />
    <circle class="blot i-ink" cx="262" cy="206" r="9" />
  </g>
  <g class="inkwell">
    <path class="i-blue" d="M322 238h56l-6-42h-44z" />
    <rect class="i-ink" x="336" y="182" width="28" height="16" rx="4" />
  </g>
  <g class="feather">
    <path class="i-white" d="M296 36c34-30 70-24 78-18-4 16-26 50-72 72l-18 8z" />
    <path class="sn-f" d="M284 98 370 20M310 70l14 4M322 58l16 4M334 46l16 2" />
    <path class="nib" d="M284 98l-14 22 4-4" />
  </g>
</svg>
